:root {
  --text-color: #000000de;
  --layout-background: white;
  --app-background: #dfdfde;
}

* {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  color: var(--text-color);
}

#app {
  background-color: var(--app-background);
}

background-color: var(--main-background);
border: 1px solid #cdcccb;
box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2);
margin-bottom: 1rem;
margin-top: 1rem;
padding: 2rem;
